* {
  padding: 0;
  margin: 0;
}

.content {
  width: 100vw;
  height: 90vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content-wrapper {
  width: 65vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content-wrapper .nav {
  height: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.content .content-wrapper .nav .logo {
  margin: 50px 0;
}

.content .content-wrapper .nav .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content .content-wrapper .nav .nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.content .content-wrapper .nav .nav-item span {
  color: #6d679e;
  font-size: 12px;
  text-align: center;
  font-family: "Leelawadee", Courier, monospace;
}
.content .content-wrapper .nav .nav-item img {
  width: 40px;
  height: 40px;
}
.content .content-wrapper .nav .nav-item .block {
  width: 4px;
  height: 80%;
  background-color: #251aeb;
  border-radius: 20px;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  left: -15px;
}
.content .content-wrapper .nav .nav-item:hover .block {
  opacity: 1;
}
.content .content-wrapper .center {
  width: 30%;
  height: 85%;
  position: relative;
  font-family: "Leelawadee", Courier, monospace;
  overflow: hidden;
  transition: 0.5s;
}
.content .content-wrapper .center .sigin-img-wrapper {
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background: url(../asset/登陆.png) no-repeat #cecef3;
  background-size: 90%;
  background-position: center right;
}
.content .content-wrapper .center .sigin-img-wrapper .img-tips {
  position: absolute;
  margin: 40px;
  z-index: 2;
  color: #fff;
}
.content .content-wrapper .center .sigin-img-wrapper .img-tips h1 {
  font-size: 40px;
  letter-spacing: 2px;
}
.content .content-wrapper .center .sigin-img-wrapper .img-tips h5 {
  font-weight: 100;
}
.content .content-wrapper .center .sigup-img-wrapper {
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background: url(../asset/注册.png) no-repeat #cecef3;
  background-size: 90%;
  background-position: center right;
}
.content .content-wrapper .center .sigup-img-wrapper .img-tips {
  position: absolute;
  margin: 40px;
  z-index: 2;
  color: #fff;
}
.content .content-wrapper .center .sigup-img-wrapper .img-tips h1 {
  font-size: 40px;
  letter-spacing: 2px;
}
.content .content-wrapper .center .sigup-img-wrapper .img-tips h5 {
  font-weight: 100;
}
.content .content-wrapper .form {
  width: 45%;
  height: 80%;
  background-color: #fff;
}
.content .content-wrapper .form .form-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.content .content-wrapper .form .form-wrapper .common-style {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content .content-wrapper .form .form-wrapper .common-style .title {
  margin: 10% 0;
  font-size: 18px;
  font-family: "Leelawadee", Courier, monospace;
}
.content .content-wrapper .form .form-wrapper .common-style .title span:first-child {
  color: #acaabe;
}
.content .content-wrapper .form .form-wrapper .common-style .title span:last-child {
  color: #251aeb;
  cursor: pointer;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .inputs-item {
  position: relative;
  margin: 10px 0;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .inputs-item .input-tips {
  color: #8783b1;
  font-weight: 600;
  margin: 2px 0;
  display: inline-block;
  font-family: "Leelawadee", Courier, monospace;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .inputs-item .inputs {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #c6c5ce;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 10px;
  font-family: "Leelawadee", Courier, monospace;
  box-sizing: border-box;
  color: #251aeb;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .inputs-item .inputs:focus {
  border: 1px solid #c0d1ff;
  box-sizing: border-box;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .inputs-item::after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  right: -10px;
  top: 35px;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .items-email:after {
  background: url(../asset/email.png) no-repeat;
  background-size: 25px;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .items-emailcheck:after {
  margin-top:5px;
  background: url(../asset/emailcheck.png) no-repeat;
  background-size: 25px;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .items-pwd:after {
  background: url(../asset/pwd.png) no-repeat;
  background-size: 25px;
}
.content .content-wrapper .form .form-wrapper .common-style .inputs-wrapper .items-user:after {
  background: url(../asset/user.png) no-repeat;
  background-size: 25px;
}
.content .content-wrapper .form .form-wrapper .common-style .sigin-btn {
  width: 100%;
  height: 45px;
  background-color: #1f1567;
  border-radius: 10px;
  color: #fff;
  margin-top: 2px;
  font-family: "Leelawadee", Courier, monospace;
  font-size: 20px;
  cursor: pointer;
  border: 0;
}
.content .content-wrapper .form .form-wrapper .common-style .tips {
  margin-top: 20px;
  color: #c6c5ce;
}
.content .content-wrapper .form .form-wrapper .sigin {
  opacity: 1;
  z-index: 1;
  transform: 0.5s;
}
.content .content-wrapper .form .form-wrapper .sigup {
  z-index: -1;
}
.content .content-wrapper .form .form-wrapper .sigup .animations {
  transform: translate(-10%, 0);
  opacity: 0;
}

.nav-form-animation-bottom {
  animation: 0.5s form-nav-animation-bottom;
}

.nav-form-animation-top {
  animation: 0.5s form-nav-animation-top;
}

@keyframes form-nav-animation-bottom {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes form-nav-animation-top {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}